services:
  postgres:
    image: postgres:15
    container_name: smartshop_db
    environment:
      POSTGRES_DB: smartshop_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
